@font-face {
  font-family: "Vazir";
  src: url("@/assets/font/Vazir.woff2") format("woff2"),
    url("@/assets/font/Vazir.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Vazir";
  src: url("@/assets/font/Vazir-Thin.woff2") format("woff2"),
    url("@/assets/font/Vazir-Thin.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

* {
  font-family: "Vazir", sans-serif !important;
}

.main-container {
  height: 600px;
  width: 100%;
}

.primaryFont {
  font-size: large;
  color: #bea9c5;
  margin: 0 5px 0 5px;
}

.colet {
  width: 6.5rem;
  height: 6.5rem;
  border-radius: 20px 0 20px 20px;
  z-index: 2;
  position: absolute;
  left: 0px;
  top: 0;
}